<html> 
    <head><title>Upload Test</title></head> 
    <body bgcolor='#b0e0e6' align='center'>
        <form action="/request/photo/upload/"
              method="post"
              enctype="multipart/form-data"> 
            File:
            <input type="file"
                   name="file"
                   id="id_file" />

            <p>coupon_category_index<input type="text" id="coupon_category_index" name="coupon_category_index"></td></p>
            <p>coupon_product_index<input type="text" id="coupon_product_index" name="coupon_product_index"></td></p>
            <p>coupon_index<input type="text" id="coupon_daily_market_name" name="coupon_index"></td></p>
            <input type="submit" value="사진 업로드" /> 
        </form> 
    </body> 
</html> 