<html> 
    <head><title>Upload Test</title></head> 
    <body> 
        <form action="/request/make/daily/"
              method="post"
              enctype="multipart/form-data"> 
            File:
            <input type="file"
                   name="file"
                   id="id_file" />

            coupon_daily_product_index<input type="text" id="coupon_daily_product_index" name="coupon_daily_product_index"></td>
            coupon_daily_photo_index<input type="text" id="coupon_daily_photo_index" name="coupon_daily_photo_index"></td>
            coupon_daily_market_name<input type="text" id="coupon_daily_market_name" name="coupon_daily_market_name"></td>
            coupon_daily_name<input type="text" id="coupon_daily_name" name="coupon_daily_name"></td>
            coupon_daily_brand<input type="text" id="coupon_daily_brand" name="coupon_daily_brand"></td>
            coupon_daily_unit<input type="text" id="coupon_daily_unit" name="coupon_daily_unit"></td>
            coupon_daily_price<input type="text" id="coupon_daily_price" name="coupon_daily_price"></td>
            coupon_daily_start<input type="text" id="coupon_daily_start" name="coupon_daily_start"></td>
            coupon_daily_finish<input type="text" id="coupon_daily_finish" name="coupon_daily_finish"></td>
            coupon_daily_times<input type="text" id="coupon_daily_times" name="coupon_daily_times"></td>
            coupon_daily_detail<input type="text" id="coupon_daily_detail" name="coupon_daily_detail"></td>
            coupon_daily_type<input type="text" id="coupon_daily_type" name="coupon_daily_type"></td>

            <input type="submit" value="쿠폰등록" /> 
        </form> 
    </body> 
</html> 