 <!DOCTYPE html>

<html>
<head>
	<title> SPOTPING : 상인 회원가입 페이지 </title>

</head>

<body bgcolor='#b0e0e6' align='center'>
<form method="post" action="/request/join/seller/">
	{% csrf_token %}
	<p><label for="join_seller_id"></label>아이디: <input type="text" class="webfont" id="join_seller_id" name="join_seller_id" value="" /></p>

	<p><label for="join_seller_pwd"></label>비밀번호: <input type="password" id="join_seller_pwd" name="join_seller_pwd" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_pwd_re"></label>비밀번호 확인: <input type="password" id="join_seller_pwd_re" name="join_seller_pwd_re" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_email"></label>이메일: <input type="text" class="webfont" id="join_seller_email" name="join_seller_email" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_name"></label>이름: <input type="text" class="webfont" id="join_seller_name" name="join_seller_name" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_market_name"></label>가게 이름: <input type="text" class="webfont" id="join_seller_market_name" name="join_seller_market_name" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_address"></label>가게 주소: <input type="text" class="webfont" id="join_seller_address" name="join_seller_address" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_latitude"></label>가게 위도: <input type="text" class="webfont" id="join_seller_latitude" name="join_seller_latitude" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_longtitude"></label>가게 경도: <input type="text" class="webfont" id="join_seller_longtitude" name="join_seller_longtitude" value="" width="60%" height="10%"/></p>

	<p><label for="join_seller_phone"></label>전화번호: <input type="text" class="webfont" id="join_seller_phone" name="join_seller_phone" value="" width="60%" height="10%"/></p>

	<p><input type="submit" value="회원 가입"/></p>
</form>


</div>
</body>
</html>